# MongoDB Atlas Cloud Database Connection String
MONGODB_URI="mongodb+srv://usuario:password@cluster.mongodb.net/rifant?retryWrites=true&w=majority"

# Contraseña maestra de acceso al panel de administración (/admin)
ADMIN_PASSWORD="TuContraseñaAqui"

# Correos electrónicos autorizados para entrar al panel de administración (separados por coma)
ADMIN_EMAILS="admin1@ejemplo.com,admin2@ejemplo.com"
